/* work sans font from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Sheared styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary {
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.description-lightgray {
    color: #727272;
}


/* header style  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style-type: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



/* Banner style section start */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 100px auto 50px;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
}

/* header section style end  */


/* main style */
main {
    max-width: 1440px;
    margin: 0px auto;
}


/* teams section style start */
.teams-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-right: 70px;
    padding-left: 70px;
}

.team-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-title .features {
    color: #FF900E;
}

.team-description {
    color: #727272;
    margin-top: 24px;
}

/* teams section style end */




/* features section style start */
.feature {
    display: flex;
    margin-top: 130px;
    gap: 50px;
    margin-left: 50px;
}

.feature .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature .description-lightgray {
    margin: 20px 0px;

}

.feature-content {
    width: 50%;
    margin-right: 50px;
}

.feature-card {
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 150px;
}

.feature-img img {
    width: 508px;
    height: 800px;
    /* width: 100%; */
    margin-left: 90px;
}

.ten-years {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 100px;
}

.ten-years h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0px !important;
}

.ten-years p {
    font-size: 1.5rem
}

/* features section style end */




/* facts section style start*/
.facts {
    margin: 100px 70px 150px;
}

.facts-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
}

.facts-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* facts section style end*/




/* sponsors section style start*/
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.sponsors-img-container img {
    width: 160px;
}

/* sponsors section style end*/





/* responsive style media query */

/* mobile devices */
@media screen and (max-width:576px) {

    header {
        padding: 20px;
    }

    nav,
    .feature,
    .teams-container,
    .facts-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    nav>ul>li {
        margin-right: 20px;
        margin-top: 30px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .team-content,
    .facts-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-container {
        gap: 10px;
        margin-top: 30px;
    }

    .feature-img img {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }


    .feature-content {
        width: 90%;
        margin-right: 0px;
    }

}

/* tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav,
    .feature,
    .teams-container,
    .facts-container,
    .sponsors-img-container {
        flex-direction: column;
        margin-top: 50px;
    }

    nav>ul>li {
        margin-top: 30px;
    }

    .team-content {
        padding-right: 30px;
        padding-left: 30px;
    }

    .feature-content {
        width: 70%;
        margin-right: 0px;
    }


}